/*
* The my program cart button.
*/
.oc_my_program_cart_btn
{
position: relative;
}
i {   
    text-align:center;
    vertical-align:middle;
}
.oc-my-hp-program-wrap a
{
    color: grey;
    cursor: pointer;
    font-size: 17px;
}
.oc-my-hp-program-wrap a.oc-my-hp-program-button:hover
{
    color: #be1e2d;
}
.oc-my-hp-program-wrap a.oc-my-hp-program-remove-button
{
    color: #be1e2d;
    
}
.badge{
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 50%;
    position:absolute;
    bottom:12px;
    right:-6px;
    padding:5px;
}
.green-flash
{
    background-color:green !important;
}
.red-flash
{
    background-color:red !important;
}
/*
* Add to cart btn
*/
.oc-my-hp-program-wrap,.views-field-nothing
{
    background: #b4a486 none repeat scroll 0 0;
}
